<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="floppyWriter" class="ioc.c.FloppyWriter"/>

    <bean id="usbWriter" class="ioc.c.UsbWriter"/>

    <bean id="business" class="ioc.c.Business">
        <!-- ref: reference -->
        <!--<property name="deviceWriter" ref="floppyWriter"/>-->
        <constructor-arg ref="usbWriter"/>
    </bean>
</beans>