<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="string" class="java.lang.String">-->
        <!--default constructor-->
        <!--<constructor-arg value="Tom"/>-->
    <!--</bean>-->

    <bean id="hello" class="ioc.spring.Hello">
        <property name="name" value="Jerry"/>
    </bean>
</beans>